/*
 * @Author: wjing
 * @Date: 2020-02-13 10:51:14
 * @LastEditors: wjing
 * @LastEditTime: 2020-03-21 17:13:33
 * @Description: 查询监测
 */
body {
    background: transparent;
}

.fd-contain-box {
    position: relative;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #1e2938;
    background-color: #233041;
    box-shadow: 0 1px 5px 0 rgba(42, 56, 75, 0.004), inset 0 2px 7px 0 rgba(0, 0, 0, 0.69);
}


.fd-contain-cxjc {}

/*按照设计图设置header的padding值*/
.fd-header {
    padding: 0 15px 15px;
    border-bottom: 1px solid #36465b;
}

.fd-warp {
    float: left;
    margin-right: 15px;
}

.fd-warp .aty-form-item-label {
    padding-right: 0;
    font-size: 16px;
    color: #ffffff;
}

.fd-warp .aty-select-selected-value,
.fd-warp .aty-select-placeholder {
    font-size: 15px !important;
    color: #666666;
}

.fd-warp .fd-label {
    display: inline-block;
    width: 85px;
    line-height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color: #fff;
}

.fd-warp .fd-padding-left {
    padding-left: 10px;
}

.fd-warp .aty-input {
    font-size: 16px;
    color: #666;
    height: 32px;
    line-height: 22px;
}

.fd-warp .aty-select-single .aty-select-selection {
    height: 32px;
}

.fd-warp .aty-select-single .aty-select-selection .aty-select-placeholder,
.fd-warp .aty-select-single .aty-select-selection .aty-select-selected-value {
    height: 32px;
    line-height: 30px;
}

.fd-warp .fd-label-zhi {
    font-size: 16px;
    color: #fff;
    margin: 0 7px;
    line-height: 32px;
    vertical-align: middle;
}

.fd-warp .aty-organ-tree-multiple .aty-organ-tree-selection .aty-organ-tree-placeholder,
.fd-warp .aty-select-tree-multiple .aty-select-tree-selection .aty-select-tree-placeholder {
    font-size: 16px;
    height: 32px;
    line-height: 30px;
}

/* 搜索框的提示文字大小  Web.Kit browsers */
.fd-table-common .fd-contain-box .fd-warp .aty-input::-webkit-input-placeholder {
    line-height: normal;
    color: #bbbec4;
    font-size: 16px;
}

/* 搜索框的提示文字大小  Mozilla Firefox 19+ */
.fd-table-common .fd-contain-box .fd-warp .aty-input::-moz-placeholder {
    line-height: normal;
    color: #bbbec4;
    font-size: 16px;
}

/* 搜索框的提示文字大小 Internet Explorer 10+ */
.fd-table-common .fd-contain-box .fd-warp .aty-input:-ms-input-placeholder {
    line-height: normal;
    color: #bbbec4;
    font-size: 16px;
}

/*头部搜索内容高度*/
.fd-warp .aty-organ-tree-multiple .aty-organ-tree-selection,
.fd-warp .aty-select-tree-multiple .aty-select-tree-selection {
    font-size: 16px;
    min-height: 32px;
}


.fd-header-left {
    /* float: left;
    width: calc(100% - 110px); */
}

.fd-header-right {
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}

.fd-warp .fd-width-255 {
    width: 255px;
    margin-top: 2px;
}

.fd-warp .fd-width-left {
    margin-left: 10px;
}

.fd-warp .fd-width-160 {
    width: 160px;
}

.fd-warp .fd-width-220 {
    width: 220px;
    margin-top: 3px;
}

.fd-warp .fd-width-250 {
    width: 250px;
    margin-top: 2px;
}

.fd-warp .fd-width-245 {
    width: 245px;
    margin-top: 2px;
}

.fd-warp-none {
    margin-right: 0px;
}

.fd-warp .aty-form-item {
    margin-bottom: 0px;
}


.fd-warp .aty-select-tree-selection,
.fd-warp .aty-organ-tree-selection {
    max-height: 30px;
    overflow: hidden;
    white-space: nowrap;
}

/* 查询按钮 */
/*批量导出按钮去掉右间距*/
.fd-warp.fd-btn-cx {
    margin-right: 0;
}

.fd-btn-cx {
    float: left;
    font-size: 15px;
    color: #fff;
    padding: 6px 25px;
    text-align: center;
    background: #3186ff;
    border-radius: 4px;
    /*box-shadow: 2px 2px 4px #3975d8;*/
    cursor: pointer;
}

.fd-btn-cxx {
    float: left;
    margin-top: 1px;
    margin-left: 10px;
    padding: 9px 24px;
    text-align: center;
    line-height: 16px;
    font-size: 15px;
    color: #fff;
    background: #ff9600;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #1a222b;
    cursor: pointer;

}

.fd-btn-cx:hover {
    background: #2170e0;
}

.fd-btn-cx:focus {
    background: #2170e0;
}

/* 批量审核按钮 */
.fd-btn-plsh {
    font-size: 16px;
    color: #fff;
    padding: 6px 20px;
    background: #3186ff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #1a222b;
    cursor: pointer;
    width: 108px;
}

.fd-btn-plsh:hover {
    background: #5a9eff;
}

.fd-btn-plsh:focus {
    background: #276bcc;
}
.fd-content-main {
    padding: 15px;
    height: calc(100% - 60px);
}
/* 表格内容部分 */
.fd-content-cxjc {
    height: calc(100% - 40px);
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/* 状态栏 */
.fd-zt-text {
    color: #000;
}

.fd-zt-dhy {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #ff9600;
    margin-right: 12px;
    border-radius: 6px;
}

.fd-zt-hybtg {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(./images/icon-btg.png) center center no-repeat;
    margin-right: 12px;
}

.fd-zt-hytg {
    display: inline-block;
    width: 14px;
    height: 9px;
    background: url(./images/icon-tg.png) center center no-repeat;
    margin-right: 12px;
}

.fd-zt-dfk {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #d6186a;
    margin-right: 12px;
    border-radius: 6px;
}

.fd-zt-bffk {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #2070ff;
    margin-right: 12px;
    border-radius: 6px;
}

.fd-zt-qbfk {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #16c533;
    margin-right: 12px;
    border-radius: 6px;
}

/* 操作栏 */
.fd-button-cz {
    font-size: 22px;
    font-weight: bold;
}

.fd-content-cxjc .aty-btn-text:focus,
.fd-content-cxjc .aty-btn:focus {
    box-shadow: none;
}

.fd-content-cxjc .aty-poptip-body-content .aty-btn {
    display: block;
    width: 100%;
    border: none;
    background: #fff;
    font-size: 16px;
    color: #000;
}

.fd-content-cxjc .aty-poptip-body {
    padding: 8px 0px;
}

.fd-content-cxjc .aty-btn:hover {
    background: #ecf2fa;
    color: #3186ff;
}

.fd-content-cxjc .aty-table__body-wrapper,
.fd-content-cxjc .aty-table {
    overflow: inherit;
}

.fd-content-cxjc .aty-table .has-gutter .cell {
    font-weight: normal;
}

/* 滚动条 */
.fd-scroll-list-cxjc {
    overflow: hidden;
    max-height: 100%;
    background: transparent;
}


.fd-scroll-list-cxjc .fd-content-table:after {
    content: "";
    display: block;
    clear: both;
}

/* 媒体查询 */
@media screen and (max-width: 1440px) {
    /*.fd-content-cxjc {*/
        /*height: calc(100% - 106px);*/
    /*}*/
}

/*批量导出按钮*/
.fd-pldc-btn {
    position: absolute;
    right: 15px;
    margin-right: 0;
}

.fd-contain-cxjc .aty-table .cell.aty-tooltip {
    width: 100% !important;
}

/*固定头部*/
.fd-table-common .fd-table-header .aty-table__header-wrapper {
    position: relative;
    z-index: 2;
}

.fd-table-main .aty-table__header-wrapper,
.fd-table-header .aty-table__body-wrapper {
    display: none;
}

.fd-table-common .fd-table-header .aty-table_1_column_1 .cell {
    text-align: left;
}

.fd-scroll-wrapper {
    height: 100%;
}

/*复选框*/
.fd-content-cxjc {
    position: relative;
    z-index: 1;
}

.fd-content-cxjc .aty-table_2_column_7 .cell {
    text-align: center;
}

.fd-content-cxjc .fd-checkboxAll {
    position: absolute;
    left: 29px;
    top: 20px;
    z-index: 10;
}

.fd-contain-box .fd-content-cxjc td a:last-child {
    padding-left: 0px;
}
.fd-contain-box .fd-content-cxjc td:nth-of-type(2) {
    padding-right: 15px;
}
/*操作列th*/
.fd-table-common .fd-dccxsq-div .fd-margin {
    padding-right: 20px;
}

.fd-table-common .fd-dccxsq-div .aty-table .cell {
    padding-left: 0;
}

/*操作列的td*/
.fd-table-common .fd-dccxsq-div .aty-table td:last-child {
    padding-right: 20px;
}

.fd-table-common .fd-dccxsq-div .aty-table td:last-child a:hover {
    border-bottom: 1px solid #3186ff;
}

.fd-content-cxjc .aty-table .cell {
    padding-left: 0px;
    padding-right: 5px;
}

.fd-content-cxjc .aty-table_1_column_1 .cell,
.fd-content-cxjc .aty-table_2_column_7 .cell {
    text-align: left;
    padding-left: 30px;
    padding-right: 0px;
}

.fd-table-common .aty-table thead tr th:nth-of-type(1),
.fd-table-common .aty-table td:nth-of-type(1) {
    padding-left: 30px;
}

/*重置按钮样式*/
.fd-search-cz-btn {
    margin-left: 10px;
    background-color: #3c73b6;
}
.fd-search-cz-btn:hover {
    opacity: 0.9;
    background-color: #3c73b6;
}

.fd-btn-export-all {
    margin-right: 10px;
    background-color: #3186cc;
}
.fd-btn-export-all:hover {
    opacity: 0.9;
    background-color: #3186cc;
}
.fd-warp .aty-tree>.aty-tree-node>.aty-tree-node-content>.aty-tree-node>.aty-tree-node-hd>.aty-tree-node-loading,
.fd-warp .aty-tree>.aty-tree-node>.aty-tree-node-content>.aty-tree-node>.aty-tree-node-hd>.aty-tree-node-trigger{
    left: 35px;
    top: 13px;
}
.fd-warp .aty-tree>.aty-tree-node>.aty-tree-node-content>.aty-tree-node>.aty-tree-node-content>.aty-tree-node>.aty-tree-node-hd>.aty-tree-node-loading,
.fd-warp .aty-tree>.aty-tree-node>.aty-tree-node-content>.aty-tree-node>.aty-tree-node-content>.aty-tree-node>.aty-tree-node-hd>.aty-tree-node-trigger{
    left: 55px;
    top: 13px;
}
.fd-warp .fd-sqdw .aty-tree .aty-tree-node-name {
    padding-left: 18px;
}
.fd-warp .fd-sqdw .aty-tree .aty-tree-node-content .aty-tree-node-name{
    padding-left: 7px;
}
.fd-warp .fd-sqdw .aty-tree .aty-tree-node-name{
    max-width: 85%;
}