@CHARSET "UTF-8";
body {
	background-color: #ecf1f7 !important;
}
/*头部搜索框*/
.fd-contain.spdxx {
	position:relative;	
	padding: 72px 28px 56px;
}
.fd-search-header{
	position: absolute;
	top: 0;
	left:0;
	z-index: 10;
	width: 100%;
	height: 72px;
	line-height: 72px;
    text-align: right;
}
.aty-select-dropdown {
	width: 100% !important;
}
.fd-search-header .fd-search-btn{
	display: inline-block;
	margin-right: 28px;
	width: 100px;
    height: 30px;
    color: #fff;
    font: 16px/30px "microsoft yahei";
    text-align: center;
    background-color: #3975d8;
    border-radius: 4px;
    cursor: pointer;		
}
.fd-search-header .fd-search-btn:hover,
.fd-search-header .fd-new-btn:hover {
	opacity: 0.8;
}
.fd-search-header .fd-new-btn{
	display: inline-block;
	margin-right: 28px;
	width: 120px;
	height: 30px;
	color: #fff;
	font: 16px/30px "microsoft yahei";
	text-align: center;
	background-color: #4565a2;
	border-radius: 2px;
	cursor: pointer;		
}
.fd-searchInput-wraper,.fd-keyword-wraper,.fd-queryType-wraper{
	margin-right: 5px;
}
.fd-searchInput-wraper,.fd-date-label,.fd-input-wrap,.fd-keyword-wraper,.fd-queryType-wraper {
	display: inline-block;
}
.fd-queryType-wraper {
    margin-right: 156px;
}
.fd-keyword-wraper .fd-input{
	padding-left: 5px;
    padding-right: 5px;
    width: 160px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #abbfd5;
    border-radius: 2px;
}
.fd-queryType-wraper {
    vertical-align: middle;
}
.fd-queryType-wraper .fd-component-simple-dropdown{
	display: inline-block;
	width: 160px;
    height: 30px;
    vertical-align: middle;
}
.fd-ul-searchRadio {
	display: inline-block;
	margin-right:5px;
}
.fd-gx-btn{
	display: inline-block;
	margin:5px 0 10px;
	padding-left:30px;
	font:13px/16px "simsun";
	color:#333;
	background:url(../images/fd-gx-btnicon01.png) 11px -3px no-repeat;
	cursor:pointer;
}
.fd-gx-btn.select{
	background:url(../images/fd-gx-btnicon01.png) 11px -23px no-repeat;
}
.fd-content {
	position:relative;
	height: 100%;
    padding: 40px 0 0;
}
.fd-ckjg-btn {
	position: absolute;
	top: 6px;
	right:22px;
	width: 118px;
	height: 30px;
	border: 1px solid #86a3ce;
	border-radius:15px; 
	text-align: center;
	color: #fff;
	font: 14px/28px "microsoft yahei";
	cursor: pointer;
}

.fd-search-btn{
	display: inline-block;
	margin-right: 28px;
	width: 80px;
	height: 30px;
	color: #fff;
	font: 16px/30px "microsoft yahei";
	text-align: center;
	background-color: #4565a2;
	border-radius: 2px;
	cursor: pointer;	
	position: absolute;
    top: 24px;
    right: 20px;	
}
.fd-keyword-wraper {
	display: inline-block;
	margin-right: 37px;
}
.fd-keyword-wraper .fd-input{
	padding-left: 5px;
    padding-right: 5px;
    width: 160px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #abbfd5;
    border-radius: 2px;
}
.fd-label,.fd-date-label {
	font-size: 16px;
    color: #000;
    vertical-align: middle;
}
.fd-keyword-wraper .aty-organ-tree-selection {
	width:280px;
}
.aty-organ-tree-single .aty-organ-tree-selection .aty-organ-tree-placeholder, .aty-organ-tree-single .aty-organ-tree-selection .aty-organ-tree-selected-value｛{
		font-size: 16px;
}
.fd-fbtztg {
	left:30px;
}
.fd-bhcdx .fd-label {
	margin-right: 8px;
}
.fd-white-space {
	 overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
