/************** 左侧开始 ***************/
body {
    background: transparent;
}
/*整体*/
.fd-zyml-left {
    width: 310px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #1e2938;
    background-color: #233041;
    box-shadow: 0 1px 5px 0 rgba(42, 56, 75, 0.004), inset 0 2px 7px 0 rgba(0, 0, 0, 0.69);
}

/*同步*/
.fd-tb-btn {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 281px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 0 0 10px 10px;
    background-color: #21497d;
    box-shadow: 0 1px 5px 0 rgba(8, 1, 3, 0.5);
}

.fd-tb-btn:after,
.fd-tb-btn:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 3px;
    z-index: 2;
    width: 275px;
    height: 60px;
    pointer-events: none;
    border: 1px dashed #456185;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.fd-tb-btn:before {
    left: 5px;
    width: 272px;
    height: 58px;
    border: 1px dashed #213d60;
    border-top: none;
}

/*按钮共同样式*/
.fd-btn-01 {
    padding-left: 30px;
    width: 131px;
    height: 35px;
    color: #fff;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    background: url("./images/icon-btn.png") no-repeat 10px center;
    background-color: rgb(21, 55, 99);
}

/*全部同步按钮*/
.fd-qbtb-btn {
    padding-left: 15px;
}

/******************** 右侧部分 **********************/
.fd-zyml-right {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    padding-left: 310px;
    width: 100%;
    height: 100%;
}

.fd-content-box {
    position: relative;
    padding: 15px;
    height: 100%;
    margin-left: 20px;
    border-radius: 10px;
    border: 1px solid #1e2938;
    background-color: #233041;
    box-shadow: 0 1px 5px 0 rgba(42, 56, 75, 0.004), inset 0 2px 7px 0 rgba(0, 0, 0, 0.69);

}

/*基本数据表格*/
/*列表  表头*/
.fd-table-wraper02 .fd-table-01 {
    border: none;
}

.fd-table-wraper02 .fd-table-01 th {
    padding: 0 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-right: none;
    text-align: left;
    background-color: transparent;
}

/* 表格表头的颜色 */
.fd-table-wraper02{
    background: url(./images/table-header_03.png);
    background-size: 100% 100%;
    height: 57px;
}

.fd-table-wraper02 thead tr {
    height: 57px;
}

/*表格内容*/
.fd-table-wraper tr {
    height: 70px;
}

.fd-table-wraper tr:hover td {
    background-color: #f0efed;
}

.fd-table-wraper .fd-table-01 td {
    text-align: left;
    border-right: none;
}

.fd-table-wraper02 .fd-table-01 .fd-th-left,
.fd-table-wraper .fd-table-01 .fd-td-left {
    text-align: left;
}

.fd-table-01 tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

.fd-table-01 tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

.fd-table-01 {
    border: none;
}

.fd-table-wraper02 {
    padding: 0;
    position: relative;
    height: 57px;
}

/* 給表格序号这一项设置固定宽度 */
.fd-table-01 tr td:first-child,
.fd-table-wraper02 .fd-table-01 th:first-child {
    padding-left: 30px;
    width: 10%;
}

/* 提高左侧z-idnex层级 */
.fd-zyml-left {
    position: relative;
    z-index: 10;
}
/* 滚动条 */
.fd-middle-wraper{
    height: calc(100% - 50px);
}
.fd-scroll-list{
    max-height: 100%;
    border-radius: 8px;
}