/*
 * @Author: nfj
 * @Date: 2020-05-29
 * @LastEditors: wjing
 * @LastEditTime: 2020-05-29
 * @Description: 查询申请审批
 */
.fd-content-cxsqsh1 {
    padding: 15px 15px 0px 15px;
    height: calc(100% - 175px);
    overflow: hidden;
}
body {
    background: transparent;
}

[v-cloak] {
    display: none;
}

.fd-contain-cxsqsh {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(30, 41, 56);
    border-radius: 10px;
    background-color: rgb(35, 48, 65);
    box-shadow: 0 1px 5px 0 rgba(42, 56, 75, 0.004), inset 0 2px 7px 0 rgba(0, 0, 0, 0.69)
}

.fd-header {
    /* height: 75px; */
    padding: 15px 15px 0;
    border-bottom: 1px solid #36465b;
}

.fd-warp {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.fd-date-warp {
    margin-bottom: 18px;
}

.fd-warp .aty-form-item-label {
    font-size: 16px;
    color: #ffffff;
}

.fd-warp .aty-select-selected-value,
.fd-warp .aty-select-placeholder {
    font-size: 15px !important;
    color: #666666;
}

.fd-warp .fd-label {
    font-size: 16px;
    color: #fff;
    display: inline-block;
    line-height: 32px;
    position: relative;
    top: 2px;
}

.fd-warp .aty-input {
    font-size: 15px;
    height: 32px;
}

.fd-warp .aty-select-single .aty-select-selection {
    height: 32px;
}

.fd-warp .aty-select-single .aty-select-selection .aty-select-placeholder,
.fd-warp .aty-select-single .aty-select-selection .aty-select-selected-value {
    height: 32px;
    line-height: 32px;
}

.fd-warp .fd-label-zhi {
    font-size: 16px;
    color: #fff;
    margin: 0 7px;
    line-height: 32px;
    position: relative;
    top: 3px;
}

.fd-warp .aty-organ-tree-multiple .aty-organ-tree-selection .aty-organ-tree-placeholder,
.fd-warp .aty-select-tree-multiple .aty-select-tree-selection .aty-select-tree-placeholder {
    font-size: 15px;
    height: 32px;
    line-height: 32px;
}

.fd-warp .aty-organ-tree-multiple .aty-organ-tree-selection,
.fd-warp .aty-select-tree-multiple .aty-select-tree-selection {
    font-size: 15px;
    min-height: 32px;
}

.fd-warp .aty-organ-tree-single .aty-organ-tree-selection,
.fd-warp .aty-organ-tree-single .aty-select-tree-selection {
    font-size: 15px;
    min-height: 32px;
}

.fd-warp .aty-organ-tree-single .aty-organ-tree-selection .aty-organ-tree-placeholder{
    height: 32px;
    font-size: 15px;
    line-height: 32px;
    color: #bbbec4;
}
.fd-warp .aty-organ-tree-single .aty-organ-tree-selection .aty-organ-tree-selected-value{
    height: 32px;
    font-size: 15px;
    line-height: 32px;
    color: #666;
}

.fd-header-left {
    float: left;
    width: calc(100% - 195px);
}

.fd-header-right {
    float: right;
    padding-top: 4px;
}

.fd-warp .fd-width-255 {
    width: 255px;
    margin-top: 2px;
}

.fd-warp .fd-width-left {
    margin-left: 10px;
}

.fd-warp .fd-width-160 {
    width: 160px;
    padding-top: 4px;
}

.fd-warp .fd-width-220 {
    width: 220px;
    margin-top: 3px;
}

.fd-warp .fd-width-250 {
    width: 250px;
    margin-top: 2px;
}
.fd-warp .fd-width-245 {
    width: 245px;
    margin-top: 3px;
}

.fd-warp-none {
    margin-right: 0;
}

.fd-warp .aty-form-item {
    margin-bottom: 0;
}


.fd-warp .aty-select-tree-selection,
.fd-warp .aty-organ-tree-selection {
    max-height: 30px;
    overflow: hidden;
    white-space: nowrap;
}

/* 查询按钮 */
.fd-btn-cx {
    float: left;
    font-size: 15px;
    color: #fff;
    /*修改按钮高度*****************/
    padding: 5px 30px;
    text-align: center;
    background: #ff9600;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #1a222b;
    cursor: pointer;
}

.fd-btn-cx:hover {
    background: #ffab33;
}

.fd-btn-cx:focus {
    background: #cc7800;
}

/* 批量审核按钮 */
.fd-btn-plsh {
    font-size: 16px;
    color: #fff;
    padding: 6px 20px;
    background: #3186ff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #1a222b;
    cursor: pointer;
    width: 108px;
}

.fd-btn-plsh:hover {
    background: #5a9eff;
}

.fd-btn-plsh:focus {
    background: #276bcc;
}
.fd-content-cxsqsh .fd-cz-btn {
    border: none;
    background: transparent;
    font-size: 16px;
    color: #2d8cf0;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}
/* 滚动条 */
.fd-scroll-list {
    overflow: hidden;
    max-height: 100%;
    background: transparent;
}

.fd-warp .fd-zt-label {
    width: 225px;
    margin-top: 3px;
}
/*表单里的label去掉padding*/
.fd-warp .aty-form-item-label {
    padding: 10px 0;
}
.fd-zt-label .aty-form-item-label {
    /*width: 55px !important;*/
}

.fd-zt-label .aty-form-item-content {
    /*margin-left: 55px !important;*/
}

/* 统一弹窗顶部样式 */
.fd-new-popStyle .aty-modal-content {
    border-radius: 8px;
    overflow: hidden;
}

.fd-new-popStyle .aty-modal-header {
    background: #3f5779;
}

.fd-new-popStyle .aty-modal-header-inner {
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}

/* 统一弹窗底部样式 */
.fd-new-popStyle .aty-modal-footer {
    padding: 0 0 50px;
    border: 0;
    text-align: center;
}

.fd-new-popStyle .aty-modal-footer button {
    width: 154px;
    height: 42px;
    line-height: 30px;
    font-size: 18px;
    border-radius: 3px;
}

.fd-new-popStyle .aty-modal-footer button+button {
    margin-left: 40px;
}

.fd-new-popStyle .aty-modal-footer .aty-btn-text {
    color: #fff;
    background: #a7aab7;
}

.fd-new-popStyle .aty-modal-body {
    padding: 50px 0;
    text-align: center;
}

/* 关闭按钮 */

.fd-new-popStyle .aty-modal-close .aty-icon-ios-close-empty {
    font-size: 50px;
    color: #c6cdd7;
    top: -8px;
}

/* 审核不通过 */
.fd-shbtg-pop .aty-modal-body p {
    font-size: 18px;
    color: #1f2325;
}

.fd-shbtg-pop .aty-modal-footer .aty-btn-text {
    display: none;
}

.fd-shbtg-pop .aty-modal-footer button+button {
    margin-left: 0;
}

/* 媒体查询 */
.fd-content-cxsqsh {
    padding: 15px;
    height: calc(100% - 176px);
    overflow: hidden;
}
.fd-wdspjg{
    margin-bottom: 16px;
}
@media screen and (max-width: 1440px) {
    .fd-header-left .fd-warp .fd-width-245 {
        width: 225px;
    }
}

@media screen and (max-width: 1440px) {
    .fd-content-cxsqsh {
        height: calc(100% - 230px);
    }
    /*
    * TODO 新加需求，把调查对象修改为监督检查审查调查对象，在小分辨率下展示问题处理
    * @author   wanghf
    * @updateTime 2020-04-23
    * @description 主要查询对象和调查对象都不合适，改成“监督检查审查调查对象”
    */
    .fd-content-cxsqsh .fd-width-th.cell{
        width: 240px;
        line-height: 1em;
        white-space: normal;
        overflow: visible;
    }
    
    .fd-content-cxsqsh1 {
        height: calc(100% - 229px);
    }
}
/*固定表格的样式*/
.fd-table-common .fd-table-header .aty-table__header-wrapper {
    position: relative;
    z-index: 2;
}
.fd-scroll-wrapper {
    height: 100%;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.fd-scroll-wrapper .fd-content-box{
    width: 100%;
    /*height: 100%;*/
}
.fd-scroll-wrapper .fd-content-box .fd-table-main{
    width: 100%;
    height: 100%;
}
.fd-scroll-wrapper .fd-content-box .fd-table-main .aty-table{
    width: 100%;
    height: 100%;
}
.fd-scroll-wrapper .fd-content-box .fd-table-main .aty-table .aty-table__body-wrapper{
    height: calc(100% - 57px);
    overflow-y: auto;
}
/*去掉操作列的最后一个margin值*************************20200318*/
.fd-content-cxsqsh .fd-cz-btn:last-child {
    margin: 0;
}
.fd-content-cxsqsh .fd-cz-btn:hover{
    border-bottom: 1px solid #2d8cf0;
}
.fd-content-cxsqsh .aty-table .cell{
    padding-left: 0px;
    padding-right: 5px;
}
.fd-content-cxsqsh .aty-table_1_column_1 .cell,
.fd-content-cxsqsh .aty-table_2_column_8 .cell{
    text-align: left;
    padding-right: 0;
}

.fd-warp .aty-select-visible {
    z-index: 5;
}

.fd-contain-cxsqsh .aty-table td:last-child .cell {
    padding-left: 10px;
}

/*重置按钮样式*/
.fd-search-cz-btn {
    float: left;
    margin-left: 15px;
    background-color: #3c73b6;
}
.fd-search-cz-btn:hover {
    opacity: 0.9;
    background-color: #3c73b6;
}

.fd-contain-cxsqsh .fd-pagination {
    padding-left: 15px;
}

.aty-btn-custom {
    padding: 0 8px 0 0px;
    color: #2d8cf0;
    font-size: 16px;
    border: 0;
    background: transparent !important;
}

.fd-table-common.fd-ysp-contain .aty-table td:last-child .cell {
    padding-left: 10px;
}
.fd-content-box .aty-table::before{
    background-color: transparent;
}