<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE8;chrome=IE9" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>查询申请审批-待审批</title>
    <link rel="icon" type="image/x-icon" href="../../../../../../images/favicon.ico">
    <link href="../../../../../../css/reset.css" rel="stylesheet">
    <link href="../../../../../../css/common.css" rel="stylesheet">
    <link href="../../../../../../css/global.css" rel="stylesheet">
    <link href="../../../../../../css/component-loading.css" rel="stylesheet">
    <link href="../../../../../../css/component-pagination.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../../../../css/artery-ui.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="../../../../../../css/userSelf.css">
    <!--引入table公共样式*************20200318-->
    <link rel="stylesheet" href="../../../../../../css/tableCss/index.css">
    <!--[if IE]>
    <script type="text/javascript" src="../../../js/lib/plugin/html5.js"></script>
    <![endif]-->
    <script src="../../../../../../common/app/userBehavior/userScreenResolution.js"></script>
    <script src="../../../../../../js/lib/vue/vue.min.js"></script>
    <script src="../../../../../../js/lib/plugin/artey-ui-0.1.96.min.js"></script>
</head>

<body data-js="./index.js" data-base="../../../../../../js" data-a6="true">
    <div class="fd-contain fd-contain-cxsqsh fd-table-common fd-ysp-contain" id="jscxsqsp" v-cloak>
        <!-- 头部 -->
        <div class="fd-header-layout">
            <div class="fd-header-layout-left">
                <!--<div class="fd-warp">
                    <aty-organ-tree class="fd-width-245 fd-select-tree" select-type="corp" select-scope="all" label="申请单位："
                        label-width="80" v-model="cxtj.sqdw" connect-parent can-search clearable @change="changeCorp"
                        request-data-url="/artery/organ/children" search-data-url="/artery/organ/search"
                        translate-data-url="/artery/organ/nodes">
                    </aty-organ-tree>
                </div>-->
                <div class="fd-warp">
                    <aty-organ-tree class="fd-select-tree" label="申请部门：" label-width="80" ref="selectTree1"
                                    v-model="cxtj.bmIdList" clearable connect-parent can-search placeholder="请选择" select-type="dept"
                                    request-data-url="./artery/Organ/children" search-data-url="./artery/Organ/search" multiple="true" @change="changeDept"
                                    translate-data-url="./artery/Organ/nodes" :root-id="gzzshlSqdwValue">
                    </aty-organ-tree>
                </div>
                <div class="fd-warp">
                    <aty-input v-model="cxtj.sqr"
                               placeholder="请输入关键字"
                               label="申请人：" label-width="65" @enter="cxshByCxtj"></aty-input>
                </div>
                <div class="fd-warp fd-warp-date">
                    <aty-date-picker label="申请时间：" label-width="80" v-model="cxtj.kssqsj" type="date" placeholder="选择日期"
                        :transfer="true" :drop-async="true" :options = "optionKssqsj">
                    </aty-date-picker>
                    <aty-date-picker label="至" label-width="30" v-model="cxtj.jssqsj" type="date" placeholder="选择日期"
                        :transfer="true" :drop-async="true" :options = "optionJssqsj">
                    </aty-date-picker>
                </div>
                <div class="fd-warp fd-warp-date">
                    <aty-date-picker label="审批时间：" label-width="80" v-model="cxtj.ksspsj" type="date" placeholder="选择日期"
                                     :transfer="true" :drop-async="true" :options = "optionKsspsj">
                    </aty-date-picker>
                    <aty-date-picker label="至" label-width="30" v-model="cxtj.jsspsj"  type="date" placeholder="选择日期"
                                     :transfer="true" :drop-async="true" :options = "optionJsspsj">
                    </aty-date-picker>
                </div>
                <div class="fd-warp">
                    <aty-select label="我的审批结果："  :data="spjgList" v-model="cxtj.spjgValue" label-width="112" clearable>
                    </aty-select>
                </div>
                <div class="fd-warp">
                    <aty-select label="审批进度：" :data="spjdList" v-model="cxtj.spjdValue" label-width="80" clearable>
                    </aty-select>
                </div>
            </div>
             <div class="fd-header-layout-right">
                 <aty-button type="warning" @click="cxshByCxtj">查询</aty-button>
                 <aty-button @click="searchReset()">重置</aty-button>
            </div>
        </div>
        <div class="fd-no-result" v-show="zwsjShow">暂无数据</div>
        <!-- 表格部分 -->
        <div class="fd-content-cxsqsh1" v-show="!zwsjShow&&shList.length !== 0">
            <!--<aty-table class="fd-basic-table fd-table-header">-->
                <!--<aty-table-column label="序号" width="80"></aty-table-column>-->
                <!--<aty-table-column label="申请时间" width="110"></aty-table-column>-->
                <!--<aty-table-column label="查询号" min-width="250"></aty-table-column>-->
                <!--<aty-table-column label="申请单位"></aty-table-column>-->
                <!--<aty-table-column label="申请部门"></aty-table-column>-->
                <!--<aty-table-column label="申请人" min-width="80"></aty-table-column>-->
                <!--<aty-table-column label="审批时间" width="110"></aty-table-column>-->
                <!--<aty-table-column label="我的审批结果" width="130"></aty-table-column>-->
                <!--<aty-table-column label="审批进度" min-width="120"></aty-table-column>-->
                <!--<aty-table-column label="操作" width="100">-->
                <!--</aty-table-column>-->
            <!--</aty-table>-->
            <div class="fd-scroll-wrapper">
            <!--<aty-scroll :speed="53" class="aty-scroll fd-scroll-list">-->
                <div class="fd-table fd-content-box" :style="'height:'+(shList.length*60 + 74>= resizeHeight ? '100%': ((shList.length*60 + 74)+'px'))">
                    <aty-table class="fd-basic-table fd-table-main" :pageable-data="shList" :select-on-indeterminate="false"
                        ref="shTabel" @load-data="init" :is-split-page="false">
                        <aty-table-column type="index" label="序号" :index="setIndex" width="80"></aty-table-column>
                        <aty-table-column property="dSqrq" label="申请时间" :formatter="df('YYYY-MM-DD')"></aty-table-column>
                        <aty-table-column property="cCxh" label="查询号"></aty-table-column>
                        <aty-table-column property="cSqdwMc" label="申请单位"></aty-table-column>
                        <aty-table-column property="cSqbmMc" label="申请部门"></aty-table-column>
                        <aty-table-column property="cQqrMc" label="申请人"></aty-table-column>
                        <aty-table-column property="shsj" label="审批时间" :formatter="df('YYYY-MM-DD')"></aty-table-column>
                        <aty-table-column property="cZtMc" label="我的审批结果"></aty-table-column>
                        <aty-table-column property="spjd" label="审批进度"></aty-table-column>
                        <aty-table-column label="操作" width="100">
                            <template slot-scope="props">
                                <!--<div class="fd-cz-btn" @click="openCkspb(props.row)">查看</div>-->
                                <aty-button class="aty-btn-custom" text="查看" @click="openCkspb(props.row)"></aty-button>
                            </template>
                        </aty-table-column>
                    </aty-table>
                </div>
            <!--</aty-scroll>-->
            </div>
        </div>
        <div class="fd-pagination" v-show="!zwsjShow&&shList.length !== 0 && total > queryInfo.limit">
            <aty-panel class="fd-page-text">
                <aty-text>本页显示：{{pageNow}}</aty-text>
                <aty-text>总记录数：{{total}}</aty-text>
            </aty-panel>
            <aty-row class="fd-pagetion-box" v-if="pageshow">
                <aty-pagination :total="total" :show-one-page="true" @change="change" :offset="pageOffset"
                                :limit="queryInfo.limit" :current="currentPage"></aty-pagination>
            </aty-row>
        </div>
        <!--<aty-modal class="fd-shbtg-pop fd-new-popStyle" title="审核不通过" ref="btgyyModel" width="800px" closable @on-ok="closeModalRefuseReason">-->
            <!--<p >{{btgyy}}</p>-->
        <!--</aty-modal>-->
    </div>
    <script src="../../../../../../js/lib/require/require.min.js" data-main="../../../../../../js/main.js"></script>
</body>

</html>
