@CHARSET "UTF-8";

body {
    background-color: transparent !important;
}

[v-cloak] {
    display: none;
}
/*头部搜索框*/
.fd-contain.spdxx {
    position: relative;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(30, 41, 56);
    border-radius: 10px;
    background-color: rgb(35, 48, 65);
    box-shadow: 0 1px 5px 0 rgba(42, 56, 75, 0.004), inset 0 2px 7px 0 rgba(0, 0, 0, 0.69)
}

.fd-search-header {
    padding: 15px 15px 0;
    width: 100%;
    border-bottom: 1px solid #36465b;
}

.fd-search-header-left {
    float: left;
    width: calc(100% - 200px);
    line-height: 35px;
}

.fd-search-header-right {
    float: right;
}

/* .aty-select-dropdown {
    width: 100% !important;
} */

.fd-search-header .fd-search-btn {
    display: inline-block;
    float: left;
    margin-right: 0;
    margin-top: 4px;
    width: 92px;
    height: 32px;
    color: #fff;
    font: 16px/32px "microsoft yahei";
    text-align: center;
    background-color: #ff9600;
    border-radius: 4px;
    cursor: pointer;
}

.fd-search-header .fd-search-btn:hover {
    background: #ffab33;
}
.fd-queryType-wraper {
    vertical-align: middle;
}

.fd-queryType-wraper .fd-component-simple-dropdown {
    display: inline-block;
    width: 160px;
    height: 36px;
    vertical-align: middle;
    border-radius: 4px;
}

.fd-ul-searchRadio {
    display: inline-block;
    margin-right: 5px;
}

.fd-gx-btn {
    display: inline-block;
    margin: 5px 0 10px;
    padding-left: 30px;
    font: 13px/16px "simsun";
    color: #333;
    background: url(./images/fd-gx-btnicon01.png) 11px -3px no-repeat;
    cursor: pointer;
}

.fd-gx-btn.select {
    background: url(./images/fd-gx-btnicon01.png) 11px -23px no-repeat;
}

.fd-content {
    position: relative;
    margin-top: 15px;
    padding: 57px 15px 7px;
    height: calc(100% - 133px);
    overflow: hidden;
}

.fd-ckjg-btn {
    position: absolute;
    top: 6px;
    right: 22px;
    width: 118px;
    height: 30px;
    border: 1px solid #86a3ce;
    border-radius: 15px;
    text-align: center;
    color: #fff;
    font: 14px/28px "microsoft yahei";
    cursor: pointer;
}

.aty-organ-tree {
    position: absolute;
    z-index: 1;
}
/* 修改表格样式 */
.fd-table-wraper02 {
    margin: 0 15px;
    height: 57px;
    width: auto;
    background: url(./images/table-header_03.png) center top no-repeat;
    background-size: 100% 100%;
}

.fd-table-01 {
    border: none;
}

.fd-table-01 th {
    background: transparent;
    height: 57px;
    border: none;
    font-size: 18px;
    color: #fff;
    line-height: 57px;
    text-align:left;
    padding-right: 5px;
}
.fd-table-01 tr:last-child{
    border-radius: 0px 0px 10px 10px;
}

.fd-table-01 td {
    border: none;
    border-top: 1px solid #e7e4d6;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.fd-table-01 tr:last-child td:first-child {
    border-radius: 0px 0px 0px 10px;
}

.fd-table-01 tr:last-child td:last-child {
    border-radius: 0px 0px 10px 0px;
}

.fd-table-01 tr:hover td {
    background-color: #f0efed;
}

/* 分页 */
.fd-table-fenye {
    float: right;
}

.fd-jlu-info {
    font-size: 16px;
    color: #ffffff;
}

.fd-table-fenye .aty-pagination-next,
.fd-table-fenye .aty-pagination-prev {
    display: inline-block;
    vertical-align: middle;
    line-height: 31px;
    width: 72px;
    height: 31px;
    background-color: #34445a;
    border-radius: 3px;
    border: solid 1px rgba(15, 36, 56, 0.1);
    list-style: none;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.fd-table-fenye .aty-pagination-item {
    display: inline-block;
    vertical-align: middle;
    min-width: 32px;
    height: 32px;
    border: 0px;
    background-color: #233041;
    color: #ffffff;
    font-size: 16px;
    margin-right: 4px;
    text-align: center;
    list-style: none;
    cursor: pointer;
    -webkit-transition: border .2s ease-in-out, color .2s ease-in-out;
    transition: border .2s ease-in-out, color .2s ease-in-out;
}


.fd-table-fenye .aty-pagination-item-active {
    background-color: #39f;
    border-color: #39f;
}

.fd-table-fenye .aty-pagination-item a {
    margin: 0 6px;
    text-decoration: none;
    color: #ffffff;
}

.fd-table-fenye .aty-icon {
    color: #fff;
    font-size: 16px;
}

.fd-warp {
    float: left;
    margin-right: 15px;
}


.fd-warp .aty-form-item-label {
    font-size: 16px;
    color: #ffffff;
    padding-right: 0px;
}

.fd-warp .aty-select-selected-value,
.fd-warp .aty-select-placeholder {
    font-size: 16px !important;
    color: #666666;
}

.fd-warp .fd-label {
    font-size: 16px;
    color: #fff;
    display: inline-block;
    line-height: 32px;
    position: relative;
    top: 3px;
}

.fd-warp .aty-input {
    font-size: 16px;
    height: 32px;
    line-height: normal;
}

.fd-warp .aty-select-single .aty-select-selection {
    height: 32px;
}

.fd-warp .aty-select-single .aty-select-selection .aty-select-placeholder,
.fd-warp .aty-select-single .aty-select-selection .aty-select-selected-value {
    height: 32px;
    line-height: 32px;
}

.fd-warp .fd-label-zhi {
    font-size: 16px;
    color: #fff;
    margin: 0 7px;
    line-height: 32px;
    position: relative;
    top: 3px;
}

.fd-warp .aty-organ-tree-multiple .aty-organ-tree-selection .aty-organ-tree-placeholder,
.fd-warp .aty-select-tree-multiple .aty-select-tree-selection .aty-select-tree-placeholder {
    font-size: 16px;
    height: 32px;
    line-height: 32px;
}

.fd-warp .aty-organ-tree-multiple .aty-organ-tree-selection,
.fd-warp .aty-select-tree-multiple .aty-select-tree-selection {
    font-size: 16px;
    min-height: 32px;
    border: 0;
}

.fd-warp .aty-organ-tree-single .aty-organ-tree-selection,
.fd-warp .aty-organ-tree-single .aty-select-tree-selection {
    font-size: 16px;
    min-height: 32px;
}

.fd-warp  .aty-organ-tree-single .aty-organ-tree-selection .aty-organ-tree-placeholder {
    height: 32px;
    font-size: 16px;
    line-height: 32px;
    color: #bbbec4;
}

.fd-warp  .aty-organ-tree-single .aty-organ-tree-selection .aty-organ-tree-selected-value {
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    color: #666;
}
.fd-margin-bottom{
    margin-bottom: 15px;
}

.fd-header-left {
    float: left;
    width: calc(100% - 200px);
}

.fd-header-right {
    float: right;
    padding-top: 20px;
    padding-right: 20px;
}

.fd-warp .fd-width-255 {
    width: 255px;
    margin-top: 2px;
}
.fd-warp .fd-width-240 {
    width: 240px;
    padding-top: 2px;
}

.fd-warp .fd-width-left {
    margin-left: 10px;
}

.fd-warp .fd-width-160 {
    width: 160px;
}

.fd-warp .fd-width-220 {
    width: 220px;
    margin-top: 2px;
}

.fd-warp .fd-width-250 {
    width: 250px;
    margin-top: 2px;
}

.fd-warp-none {
    margin-right: 0px;
}

.fd-warp .aty-form-item {
    margin-bottom: 0px;
}

.fd-date{
    position: relative;
    margin-top: 1px;
    margin-bottom: 2px;
}
.fd-scroll-content{
    z-index: 1;
}
/* 滚动条 */
.fd-table-wraper {
    height: 100%;
}
.fd-scroll-list {
    max-height: 100%;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}
.fd-warp .fd-media{
    width: 210px;
}
/* 媒体查询 */
@media screen and (max-width: 1440px) {
    .fd-content {
        height: calc(100% - 130px);
    }
    .fd-search-header .fd-warp .fd-width-240 .aty-form-item-label{
        width: 80px!important;
    }
    .fd-search-header .fd-warp .fd-width-240 .aty-form-item-content{
        margin-left: 80px!important;
    }
    .fd-search-header .fd-warp .fd-width-240{
        width: 223px;
    }
}

@media screen and (min-width: 1362px) {
    /*.fd-content {*/
        /*height: calc(100% - 124px);*/
    /*}*/
}
/*table设置高度*/
.fd-table-main tr {
    height: 60px;
}
.fd-warp .aty-form-item-label,
.fd-warp .fd-label {
    display: inline-block;
    width: 80px;
    text-align: right;
}
.fd-main-table{
    height: 100%;
}
.fd-main-table .fd-xh{
    padding-left: 30px;
    padding-right: 0px;
}
/*重置按钮样式*/
.fd-search-header .fd-search-cz-btn {
    margin-left: 15px;
    background-color: #3c73b6;
}
.fd-search-header .fd-search-cz-btn:hover {
    opacity: 0.9;
    background-color: #3c73b6;
}

.fd-gzzsh .fd-pagination {
    padding-left: 15px;
}