<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中央端（分级管控授权）</title>
    <!-- 引入样式 -->
    <script src="./js/vue.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/element-ui.js"></script>
    <script src="../../../js/lib/plugin/artery-ui.min.js"></script>
    <link rel="stylesheet" href="./css/element-ui.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="container" id="app">
        <el-row>
            <el-col :span="4">
                <div class="left">
                    <div class="left_top"></div>
                    <div class="left_middle">
                        <el-input class="left_middle_ipt" v-model="filterText" placeholder="请输入关键字"></el-input>
                    </div>
                    <div class="left_bottom">
                        <!--<div class="left_bottom_top">
                            <el-radio-group v-model="level">
                                <el-radio :label="2">所有省本级</el-radio>
                                <el-radio :label="3">所有市本级</el-radio>
                                <el-radio :label="4">所有县本级</el-radio>
                            </el-radio-group>
                        </div>-->
                        <div class="left_bottom_top">
                            <el-button @click="syncAll()" type="warning">全部同步</el-button>
                            <el-button @click="gotoSyncSelected()" type="warning">按省份同步</el-button>
                        </div>
                        <div class="left_bottom_bottom">
                            <el-tree :data="data" default-expanded-keys="corp_0" ref="tree" node-key="id" :filter-node-method="filterNode" :props="defaultProps"
                                @check-change="handleCheckChange" show-checkbox :expand-on-click-node="false">
                                <span slot-scope="{ node, data }" class="slot-t-node">
                                    <template>
                                        <!--<i :class="{
                                            'el-icon-folder': !node.expanded&&data.children.length >0,       // 节点收缩时的图标
                                            'el-icon-folder-opened': node.expanded, // 节点展开时的图标
                                            'el-icon-document': data.children.length == 0  //节点为最后一级时的图标
                                        }" style="color:#d7a902" />-->
                                        <img  src="../../../css/zzjgTree/images/icon-tree-third.png" alt="暂未显示">
                                        <span style="color: #fff;">{{ node.label }}</span>
                                    </template>
                                </span>
                            </el-tree>
                        </div>
                    </div>
                </div>
            </el-col>
            <el-col :span="20">
                <div class="right">
                    <el-row>
                        <el-col :span="23" :offset="1">
                            <el-form :inline="true" :model="formInline" class="demo-form-inline" ref="form">
                                <el-form-item label="授权状态" prop="sqzt">
                                    <el-select v-model="formInline.sqzt" placeholder="请选择">
                                        <el-option label="已授权" value="1"></el-option>
                                        <el-option label="未授权" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="黑名单" prop="hmd">
                                    <el-select v-model="formInline.hmd" placeholder="请选择">
                                        <el-option label="是" value="1"></el-option>
                                        <el-option label="否" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="单位层级" prop="level">
                                    <el-select v-model="level" multiple placeholder="请选择">
                                        <el-option label="省本级" value="2"></el-option>
                                        <el-option label="市本级" value="3"></el-option>
                                        <el-option label="县本级" value="4"></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="warning" @click="onSubmit">查询</el-button>
                                </el-form-item>
                                <el-form-item>
                                    <el-button type="primary" @click="onReset">重置</el-button>
                                </el-form-item>
                            </el-form>
                        </el-col>
                    </el-row>
                    <el-row style="margin-right: 75px">
                        <el-col :span="5" :offset="19">
                            <div class="buttonarea">
                                <el-button @click="updateHmd()" type="warning"
                                    :disabled='multipleSelection.length<1?true:false'>黑名单
                                </el-button>
                                <el-button @click="updateHmdJc()" type="warning"
                                           :disabled='multipleSelection.length<1?true:false'>解除黑名单
                                </el-button>
                                <el-button type="warning" @click="onOpendialog('edit')"
                                    :disabled='multipleSelection.length<1?true:false'>分级授权</el-button>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="24">
                            <div class="tablearea">
                                <el-table :data="tableData" border style="width: 100%"
                                    @selection-change="handleSelectionChange" height="500px">
                                    <el-table-column type="selection" width="55">
                                    </el-table-column>
                                    <el-table-column type="index" label="序号" width="55">
                                    </el-table-column>
                                    <el-table-column prop="cCorpName" label="单位名称" align="center">
                                    </el-table-column>
                                    <el-table-column prop="nSqzt" label="分级授权状态" align="center">
                                        <template slot-scope="scope">
                                            <p v-if='scope.row.nSqzt == 1'>已授权</p>
                                            <p v-else>未授权</p>
                                        </template>
                                    </el-table-column>
                                    <el-table-column prop="nHmd" label="黑名单" align="center">
                                        <template slot-scope="scope">
                                            <p v-if='scope.row.nHmd == 1'>是</p>
                                            <p v-else>否</p>
                                        </template>
                                    </el-table-column>
                                    <el-table-column fixed="right" label="操作" width="110" align="center">
                                        <template slot-scope="scope">
                                            <el-button @click="onOpendialog('normal',scope.row)" type="text"
                                                size="small">
                                                查看详情
                                            </el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <el-pagination
                                        @size-change="handleSizeChange"
                                        @current-change="handleCurrentChange"
                                        :current-page.sync="currentPage"
                                        :page-sizes="pageSizes"
                                        :page-size="pageSize"
                                        layout="sizes, prev, pager, next"
                                        :total="totalSize">
                                </el-pagination>
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </el-col>
        </el-row>
        <el-dialog  width='80%' height='70%' top="10px" :title="dialogType=='normal'? '查看详情':'分级授权'" :visible.sync="dialogVisible">
            <div class="content">
                <el-row style="height: 20%">
                    <el-col :span="9" style="margin-right: -54px;margin-left: 47px">
                        <span class="demonstration">开始时间</span>
                        <el-date-picker
                                v-model="queryStart"
                                type="datetime"
                                format="yyyy-MM-dd hh:mm:ss"
                                value-format="yyyy-MM-dd hh:mm:ss"
                                placeholder="开始时间"
                                :disabled="isXq">
                        </el-date-picker>
                    </el-col>
                    <el-col :span="9" style="margin-right: -32px; ">
                        <span class="demonstration">结束时间</span>
                        <el-date-picker
                                v-model="queryEnd"
                                type="datetime"
                                format="yyyy-MM-dd hh:mm:ss"
                                value-format="yyyy-MM-dd hh:mm:ss"
                                placeholder="结束时间"
                                :disabled="isXq">
                        </el-date-picker>
                    </el-col>
                    <el-col :span="6">
                        <span class="demonstration">查询数量</span>
                        <el-input v-model="queryCount" placeholder="查询数量" style="width: 64%!important;"
                                  :disabled="isXq"></el-input>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="10" offset="1">
                        <div class="dialogleft">
                            <el-tree :data="datas" default-expanded-keys="001001" ref="zystree"
                                current-node-key="001001001" node-key="id" :props="defaultProps"
                                @check-change="handleCheckChangeZy" show-checkbox
                                @node-click="handleNodeClick"
                                :default-expand-all=true >
                                <span slot-scope="{ node, data }" class="slot-t-node">
                                    <template>
                                        <i :class="{
                                            'el-icon-folder': !node.expanded&&data.children.length >0,       // 节点收缩时的图标
                                            'el-icon-folder-opened': node.expanded&&data.children.length >0, // 节点展开时的图标
                                            'el-icon-document': data.children.length == 0  //节点为最后一级时的图标
                                        }" style="color:#d7a902" />
                                        <span style="color: #333;">{{ node.label }}</span>
                                    </template>
                                </span>
                            </el-tree>
                        </div>
                    </el-col>
                    <el-col :span="10" :offset="1">
                        <div class="dialogright">
                            <div class="dialogright_title">查询单位</div>
                            <div class="dialogright_content">
                                <div v-if="banks.length!=0" >
                                    <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll"
                                        @change="handleCheckAllChange" :disabled="isXq">全选</el-checkbox>
                                    <el-checkbox-group v-model="checkedBanks" @change="handleCheckedBanksChange">
                                        <el-checkbox v-for="bank in banks" :label="bank.code" :key="bank.code" :disabled="isXq">
                                            {{bank.name}}
                                        </el-checkbox>
                                    </el-checkbox-group>
                                </div>
                            </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button v-if="isXq == true" type="primary" @click="dialogVisible = false">关 闭</el-button>
                <el-button v-if="isXq == false" @click="cancel">取 消</el-button>
                <el-button v-if="isXq == false" type="warning" @click="dialogSubmit">确 定</el-button>
            </div>
        </el-dialog>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                queryStart: '2023-01-01 00:00:00',
                queryEnd: '2035-01-01 23:59:59',
                queryCount:'999999',
                filterText: '', //关键字过滤值
                level: [],
                datas: [], //资源树数据源
                defaultProps: {
                    children: 'children',
                    label: 'name'
                },
                data: [], //组织结构树数据源
                mainTreeSelectNode: [], //组织结构树勾选节点数据
                // mainTreeExpandNode: [], //组织结构树展开节点数据
                mainZyTreeSelectNode: [], //资源目录树勾选节点数据
                corpSelect:[], //选中的单位IDs
                formInline: {
                    sqzt: '', // 授权状态
                    hmd: '' // 黑名单
                }, //表单数据
                row: '', //当前操作行信息
                zysStagingdata: [], //当前节点对应的协查单位数据
                zysStagingNode: '', //当前操作的节点id
                checkAll: false, //协查单位是否全选
                checkedBanks: [], //协查单位勾选数据
                banks: [], //协查单位数据源
                isIndeterminate: false, //协查单位是否半选
                dialogType: 'normal', //弹窗类型  normal: 查看详情    edit:分级授权
                dialogVisible: false, //弹窗显隐控制标志
                multipleSelection: [], //表格多选行数据
                tableData: [], //表格数据源
                uHmdStatus: 1, //更新黑名单状态
                currentPage: 1,//当前页
                pageSize:10,//页面大小
                pageSizes:[10,15,20,30,50], //页面大小集
                totalSize: 0, //当前数据大小
                isXq: false,
                sjyType: ''
            },
            mounted() {
                //1.请求获取组织结构树
                this.queryOrganTree()
                //2.请求获取表格数据
                this.queryTableData()
            },
            methods: {
                //1.请求获取组织结构树
                queryOrganTree() {
                    axios.get('/artery/Organ/children', {
                        params: {
                            selectType: 'corp',
                            selectScope: 'all',
                            multiple: false,
                            id: '',
                            lazyLoad: false,
                            navigation: true,
                        }
                    }).then(res => {
                        this.data = res.data || [];
                        // this.expandOne();
                        // console.log(this.data);
                    }).catch(function (error) {
                        console.log(error)
                    })
                },
                //2.请求获取表格数据
                queryTableData() {
                    axios.post('/api/v1/zyml/getAuthoritys', {
                        level: this.level,
                        hmd: this.formInline.hmd,
                        sqzt: this.formInline.sqzt,
                        currentPage: this.currentPage,
                        currentSize: this.pagesize,
                        corps: this.mainTreeSelectNode
                    }).then(res => {
                        this.tableData = res.data.data.dataList || [];
                        this.totalSize = res.data.data.pageOut.totalSize;
                    }).catch(function (error) {
                        console.log(error)
                    })
                },
                //3.请求获取资源树
                queryZysTree() {
                    axios.get('/api/v1/zyml/sjx/tree/new',{
                        params:{
                            type: this.sjyType
                        }
                    }).then(res => {
                        this.datas = res.data.data || [];
                    }).catch(function (error) {
                        console.log(error)
                    })
                },
                // 4.请求获取协查单位数据
                queryXcdwData(param) {
                    axios.get('/api/v1/zyml/getSjyByHyId/new', {
                        params: param || {}
                    }).then(res => {
                        this.banks = res.data.data.data[0].CCXDW|| [];
                        this.checkedBanks = [];
                        if (this.banks.length != 0) {
                        this.isIndeterminate = false;
                        for (var i = 0; i < this.zysStagingdata.length; i++) {
                            if (param.id == this.zysStagingdata[i].cIdSjy) {
                                this.checkedBanks = this.deepClone(this.zysStagingdata[i].dws)
                            }
                        }
                        if(this.checkedBanks.length!=0){
                            this.isIndeterminate = true;
                        }
                    }
                    }).catch(function (error) {
                        console.log(error)
                    })
                },
                //5.请求更新协查单位
                updateXxdwStatus() {
                    axios.post('/api/v1/zyml/updateAuth', {
                        "corps": this.corpSelect,
                        "auths": this.zysStagingdata,
                        "queryStart": this.queryStart,
                        "queryEnd": this.queryEnd,
                        "queryCount": this.queryCount
                    }).then(res => {
                        if (res.code == '200') {
                        }
                        this.queryTableData();
                    }).catch(function (error) {
                        console.log(error)
                    })
                },
                //6.请求更新黑名单
                updateHmdStatus() {
                    axios.post('/api/v1/zyml/updateAuthHmd', {
                        "corps": this.corpSelect,
                        "hmd": this.uHmdStatus
                    }).then(res => {
                        if(res.status === 200){
                            if(this.uHmdStatus === 1){
                                this.$message('添加黑名单成功');
                            } else {
                                this.$message('解除黑名单成功');
                            }
                            this.queryTableData();
                        }
                    }).catch(function (error) {
                        console.log(error)
                    })
                },
                // 组织结构树勾选节点数据
                handleCheckChange(data, checked, indeterminate) {
                    if (checked && !indeterminate) {
                        this.mainTreeSelectNode.push(data.id.substring(5))
                    } else if (!checked && !indeterminate) {
                        this.mainTreeSelectNode.splice(this.mainTreeSelectNode.indexOf(data.id.substring(5)), 1)
                    }
                },
                // 打开弹窗
                onOpendialog(type, row) {
                    this.dialogType = type;
                    this.row = row;
                    this.dialogVisible = true;
                    this.zysStagingNode = '001001001';
                    this.$nextTick(() => {
                        // this.$refs.zystree.setCurrentKey('001001001')
                    })

                    // 4.请求获取协查单位数据
                    var params = {
                        id: this.zysStagingNode
                    }
                    this.queryXcdwData(params)
                    if (type == 'normal') {
                        //3.请求获取资源树
                        this.sjyType = 'xq';
                        this.queryZysTree();
                        this.isXq = true;
                        this.dealXxdwdata(this.zysStagingNode)
                        this.zysStagingdata = this.deepClone(this.row.auths);
                        this.queryStart = this.row.auths[0].cQueryStart;
                        this.queryEnd = this.row.auths[0].cQueryEnd;
                        this.queryCount = this.row.auths[0].cQueryCount;
                        for (var i = 0; i < this.zysStagingdata.length; i++) {
                            this.zysStagingdata[i].dws = JSON.parse(this.zysStagingdata[i].dws);
                        }
                    } else if (type == 'edit' && this.multipleSelection.length <= 1) {
                        //3.请求获取资源树
                        this.sjyType = '';
                        this.queryZysTree();
                        this.isXq = false;
                        this.row = this.multipleSelection[0];
                        this.dealXxdwdata(this.zysStagingNode)
                        this.zysStagingdata = this.deepClone(this.row.auths);
                        this.queryStart = this.row.auths[0].cQueryStart;
                        this.queryEnd = this.row.auths[0].cQueryEnd;
                        this.queryCount = this.row.auths[0].cQueryCount;
                        for (var i = 0; i < this.zysStagingdata.length; i++) {
                            this.zysStagingdata[i].dws = JSON.parse(this.zysStagingdata[i].dws);
                        }
                    } else {
                        //3.请求获取资源树
                        this.sjyType = '';
                        this.queryZysTree();
                        this.isXq = false;
                        this.zysStagingdata = [];
                        this.checkedBanks = [];
                        this.isIndeterminate = false;
                        this.queryStart = '2023-01-01 00:00:00';
                        this.queryEnd = '2035-01-01 23:59:59';
                        this.queryCount = 999999;
                    }
                    this.$nextTick(() => {
                        this.dealAutoZyTree();
                    })
                },
                // 资源树点击事件
                handleNodeClick(data) {
                    if (data.children.length != 0) {
                        return false
                    }
                    this.zysStagingNode = data.id;
                    // 4.请求协查单位数据
                    var params = {
                        id: data.id
                    }
                    this.queryXcdwData(params);
                },
                // 关键字筛选组织结构树
                filterNode(value, data) {
                    if (!value) return true;
                    return data.name.indexOf(value) !== -1;
                },
                // 深拷贝
                deepClone(obj) {
                    let _obj = JSON.stringify(obj),
                        objClone = JSON.parse(_obj);
                    return objClone
                },
                // 表单提交
                onSubmit() {
                    this.queryTableData();
                },
                // 表单重置
                onReset(formName) {
                    this.$refs['form'].resetFields();
                    this.level = [];
                    this.mainTreeSelectNode = [];
                    this.$refs.tree.setCheckedKeys([]);
                    this.filterText = '';
                    this.queryTableData();
                },
                // 表格勾选
                handleSelectionChange(val) {
                    this.multipleSelection = val;
                    var size = this.multipleSelection.length;
                    this.corpSelect = [];
                    if(this.multipleSelection!=undefined){
                        for (let i = 0; i < size; i++) {
                            this.corpSelect.push(this.multipleSelection[i].cCorpId);
                        }
                    }
                },
                // 协查单位全选
                handleCheckAllChange(val) {
                    this.checkedBanks = val ? this.banks.map((item) => item.code) : [];
                    this.isIndeterminate = false;
                },
                // 协查单位勾选
                handleCheckedBanksChange(value) {
                    this.checkedBanks = value;
                    let checkedCount = value.length;
                    this.checkAll = checkedCount === this.banks.length;
                    this.isIndeterminate = checkedCount > 0 && checkedCount < this.banks.length;
                },
                // 弹窗取消及关闭事件
                cancel() {
                    this.checkAll = false;
                    this.dialogVisible = false;
                },
                // 弹窗确定按钮事件
                dialogSubmit() {
                    this.dialogVisible = false;
                    //已知勾选资源树去过滤授权：
                    this.dealFilterAuth();
                    //5.请求更新协查单位
                    this.updateXxdwStatus();
                    this.zysStagingdata = [];
                    this.zysStagingNode = '';
                    this.isIndeterminate = false;
                    //2.请求表格数据
                    // this.queryTableData()
                },
                // 处理资源树节点对应的协查单位数据勾选情况
                dealXxdwdata(id) {
                    this.checkedBanks = [];
                    this.isIndeterminate = false;
                    for (var i = 0; i < this.row.auths.length; i++) {
                        if (this.row.auths[i].cIdSjy == id) {
                            this.checkedBanks = this.deepClone(JSON.parse(this.row.auths[i].dws));
                            this.isIndeterminate = true;
                        }
                    }
                },
                // 确认资源树节点是否为含有该节点数据
                dealZysNodeStatus(id) {
                    var flag = true;
                    for (var i = 0; i < this.zysStagingdata.length; i++) {
                        if (this.zysStagingdata[i].cIdSjy == id) {
                            flag = false
                        }
                    }
                    return flag;
                },
                //黑名单更新
                updateHmd() {
                    //6.请求更新黑名单
                    this.uHmdStatus = 1;
                    this.updateHmdStatus()
                },
                //黑名单解除
                updateHmdJc() {
                    //6.解除黑名单状态
                    this.uHmdStatus = 2;
                    this.updateHmdStatus()
                },
                //分页大小变化
                handleSizeChange(val) {
                    this.pagesize = val;
                    this.queryTableData();
                },
                //当前页数变化
                handleCurrentChange(val) {
                    this.currentPage = val;
                    this.queryTableData();
                },
                // F1 资源目录树勾选节点数据(初始需要树展开状态)
                handleCheckChangeZy(data, checked, indeterminate) {
                    if(checked){
                        //['004', '004002', '004002001', '004003', '004003001', '004003002', '004004', '004004001', '004004002', '004004003']
                        this.mainZyTreeSelectNode.push(data.id);
                    } else {
                        var size = this.mainZyTreeSelectNode.length;
                        var index = -1;
                        for (let i = 0; i < size; i++) {
                            if (this.mainZyTreeSelectNode[i] === data.id){
                                index = i;
                                break;
                            }
                        }
                        if(index !== -1){
                            this.mainZyTreeSelectNode.splice(index,1);
                        }
                    }
                    console.log(this.mainZyTreeSelectNode)
                },
                // F2 已知授权去勾选资源树
                dealAutoZyTree(){
                    var size = this.zysStagingdata.length;
                    this.mainZyTreeSelectNode = [];
                    for (let i = 0; i < size; i++) {
                        this.mainZyTreeSelectNode.push(this.zysStagingdata[i].cIdSjy)
                    }
                    console.log(this.mainZyTreeSelectNode)
                    this.$refs.zystree.setCheckedKeys(this.mainZyTreeSelectNode);
                },
                // F3 过滤左边勾选节点Id都是末级节点的值
                filterForNign(){
                    var size = this.mainZyTreeSelectNode.length;
                    var temp = []
                    for (let i = 0; i < size; i++) {
                        if (this.mainZyTreeSelectNode[i].length === 9){
                            temp.push(this.mainZyTreeSelectNode[i])
                        }
                    }
                    this.mainZyTreeSelectNode = temp;
                },
                //F0 A数组是否包含b元素
                isInclude(a,b) {
                    var size = a.length;
                    for (let j = 0; j < size; j++) {
                        if(a[j] === b){
                            return true;
                        }
                    }
                    return false;
                },
                //F0 A数组是否包含b元素
                isInclude2(a,b) {
                    var size = a.length;
                    for (let j = 0; j < size; j++) {
                        if(a[j].cIdSjy === b){
                            return true;
                        }
                    }
                    return false;
                },
                // F4 已知勾选资源树去过滤授权
                dealFilterAuth(){
                    //过滤左边的
                    this.filterForNign();
                    var size = this.mainZyTreeSelectNode.length;
                    var authSize = this.zysStagingdata.length;
                    var zysStagingdataTemp = []
                    //先从右边授权里面过滤出来不在左边的
                    for (let i = 0; i < authSize; i++) {
                        if(this.isInclude(this.mainZyTreeSelectNode,this.zysStagingdata[i].cIdSjy)){
                            zysStagingdataTemp.push(this.zysStagingdata[i]);
                        }
                    }
                    var filterAuthSize = zysStagingdataTemp.length;
                    this.zysStagingdata = zysStagingdataTemp;
                    //然后从左边有的右边没的填充到右边
                    if(filterAuthSize < size){
                        for (let i = 0; i < size; i++) {
                            if(!this.isInclude2(zysStagingdataTemp,this.mainZyTreeSelectNode[i])){
                                var auth = {}
                                auth.cIdSjy = this.mainZyTreeSelectNode[i];
                                auth.dws = [];
                                this.zysStagingdata.push(auth)
                            }
                        }
                    }
                },
                // 组织树展开一级节点
                // expandOne(){
                //     var oneNode = this.data[0].children;
                //     for (let i = 0; i < oneNode.length; i++) {
                //         this.mainTreeExpandNode.push(oneNode[i].id);
                //     }
                // }
                //全部省份同步授权
                syncAll(){
                    axios.get('/api/v1/zyml/syncAll',{timeout:300000}).then(res => {
                        this.$message('已成功向数据协同系统发送资源目录同步请求');
                    }).catch(function (error) {
                        this.$message('向数据协同系统发送资源目录同步请求失败');
                        console.log(error)
                    })
                },
                //选择省份同步授权
                gotoSyncSelected(){
                    window.open("../../zyxc/gly/zymlgl/asftb/index.html",'_blank','height=500,width=900');
                },
            },
            watch: {
                // 关键字过滤
                filterText(val) {
                    this.$refs.tree.filter(val);
                },
                // 暂存当前操作资源树节点
                zysStagingNode(val) {
                    this.zysStagingNode = val;
                },
                // 暂存当前操作资源树节点对应的协查单位数据
                checkedBanks(val) {
                    if (this.dealZysNodeStatus(this.zysStagingNode) ||this.dealZysNodeStatus(this.zysStagingNode) == undefined) {
                        var auth = {};
                        auth.cIdSjy = this.zysStagingNode;
                        auth.dws = this.checkedBanks;
                        this.zysStagingdata.push(auth);
                    } else {
                        for (var i = 0; i < this.zysStagingdata.length; i++) {
                            if (this.zysStagingdata[i].cIdSjy == this.zysStagingNode) {
                                this.zysStagingdata[i].dws = val;
                            }
                        }
                    }
                }
            }
        })
    </script>
</body>

</html>
