<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bao.generator.mapper.TXtpzXcdwMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bao.generator.bean.po.TXtpzXcdw">
            <id column="C_ID" property="cId" jdbcType="VARCHAR"/>
                <result column="C_DWMC" property="cDwmc" jdbcType="VARCHAR"/>
                <result column="C_DWFL" property="cDwfl" jdbcType="VARCHAR"/>
                <result column="N_MRXZ" property="nMrxz" jdbcType="INTEGER"/>
                <result column="N_VALID" property="nValid" jdbcType="INTEGER"/>
                <result column="C_TGCXDW" property="cTgcxdw" jdbcType="VARCHAR"/>
                <result column="C_TGCXDWMC" property="cTgcxdwmc" jdbcType="VARCHAR"/>
                <result column="N_ORDER" property="nOrder" jdbcType="INTEGER"/>
                <result column="DT_UPDATE_TIME" property="dtUpdateTime" jdbcType="TIMESTAMP"/>
                <result column="CORP_CODE" property="corpCode" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                C_ID,
                C_DWMC,
                C_DWFL,
                N_MRXZ,
                N_VALID,
                C_TGCXDW,
                C_TGCXDWMC,
                N_ORDER,
                DT_UPDATE_TIME,
                CORP_CODE,
    </sql>
</mapper>
